<h2>#5 component name: simpleform</h2>

<h2>Simple Form</h2>

<form>
  <label>First Name: </label>
  <input name="fname" id="fname" type="text" placeholder="Enter your first name" [(ngModel)]="fname" required>
  <br>

  <label>Last Name: </label>
  <input name="lname" id="lname" type="text" placeholder="Enter your last name" [(ngModel)]="lname" required>
  <br>

  <label>Email: </label>
  <input name="email" id="email" type="text" placeholder="Enter your email" [(ngModel)]="email" required>
  <br><br>

  <button type="submit" (click)="displayData()">Submit</button>
  </form>

  <div *ngIf="displayedName && displayedEmail">
    <h3>Submitted Data:</h3>
    <p>Name: {{ displayedName }} </p>
    <p>Email: {{ displayedEmail }}</p>
  </div>
