<!DOCTYPE html>
<h1>50 Angular Components</h1>
<a routerLink="/1displayhelloword">#1displayhelloworld</a>
<br>
<a routerLink="/2showhellobutton">#2showhellobutton</a>
<br>
<a routerLink="/3displayname">#3displayname</a>
<br>
<a routerLink="/4counter">#4counter</a>
<br>
<a routerLink="/5simpleform">#5simpleform</a>
<br>
<a routerLink="/6userage">#6userage</a>
<br>
<a routerLink="/7usergreeting">#7usergreeting</a>
<br>
<a routerLink="/8calculator">#8calculator</a>
<br>
<a routerLink="/9textlength">#9textlength</a>
<br>
<a routerLink="/10currencyconverter">#10currencyconverter</a>
<br>
<a routerLink="/11evenoddchecker">#11evenoddchecker</a>
<br>
<a routerLink="/12wordreverser">#12wordreverser</a>
<br>
<a routerLink="/13showdate">#13showdate</a>
<br>
<a routerLink="/14showusername">#14showusername</a>
<br>
<a routerLink="/15multiplicationtable">#15multiplicationtable</a>
<br>
<a routerLink="/16simplelogin">#16simplelogin</a>
<br>



<router-outlet></router-outlet>
