<!DOCTYPE html>
<h1>50 Angular Components</h1>
<a routerLink="/1displayhelloword">#1displayhelloworld</a>
<br>
<a routerLink="/2showhellobutton">#2showhellobutton</a>
<br>
<a routerLink="/3displayname">#3displayname</a>
<br>
<a routerLink="/4counter">#4counter</a>
<br>
<a routerLink="/5simpleform">#5simpleform</a>
<br>
<a routerLink="/6userage">#6userage</a>
<br>
<a routerLink="/7usergreeting">#7usergreeting</a>
<br>
<a routerLink="/8calculator">#8calculator</a>
<br>
<a routerLink="/9textlength">#9textlength</a>
<br>
<a routerLink="/10currencyconverter">#10currencyconverter</a>
<br>
<a routerLink="/11evenoddchecker">#11evenoddchecker</a>
<br>
<a routerLink="/12wordreverser">#12wordreverser</a>
<br>
<a routerLink="/13showdate">#13showdate</a>
<br>
<a routerLink="/14showusername">#14showusername</a>
<br>
<a routerLink="/15multiplicationtable">#15multiplicationtable</a>
<br>
<a routerLink="/16simplelogin">#16simplelogin</a>
<br>
<a routerLink="/17fahrenheittocelsius">#17fahrenheittocelsius</a>
<br>
<a routerLink="/18bookmarklist">#18bookmarklist</a>
<br>
<a routerLink="/19charactercounter">#19charactercounter</a>
<br>
<a routerLink="/20palindromechecker">#20palindromechecker</a>
<br>
<a routerLink="/21temperatureconverter">#21temperatureconverter</a>
<br>
<a routerLink="/22shoppinglist">#22shoppinglist</a>
<br>
<a routerLink="/23factorialcalculator">#23factorialcalculator</a>
<br>
<a routerLink="/24todomanager">#24todomanager</a>
<br>
<a routerLink="/25guessnumbergame">#25guessnumbergame</a>
<br>
<a routerLink="/26wordcounter">#26wordcounter</a>
<br>
<a routerLink="/27randomnumbergenerator">#27randomnumbergenerator</a>
<br>
<a routerLink="/28multiplicationchecker">#28multiplicationchecker</a>
<br>
<a routerLink="/29uppercaseconverter">#29uppercaseconverter</a>
<br>
<a routerLink="/30wordshuffler">#30wordshuffler</a>
<br>
<a routerLink="/31bmisolver">#31bmisolver</a>
<br>
<a routerLink="/32usernamevalidator">#32usernamevalidator</a>
<br>


<router-outlet></router-outlet>
