<h2>#42 component name: listofartistname</h2>

<h2>Make a List of Artist Name</h2>

<form >
  <label for="artist">Enter artist name: </label>
  <input name="artist" id="artist" type="text" [(ngModel)]="artist">
  <br><br>

  <button type="submit" (click)="addName()">Add Artist Name</button>
  <br><br>
</form>

  <div *ngIf="let name of artistName">
    <h3>List of Artist Name:</h3>
    <ul>
      <li *ngFor="let name of artistName; let i = index">
        {{ name }}
        <button (click)="removeArtist(i)">Remove</button>
      </li>
    </ul>
  </div>
