<h2>#49 component name: textformmater</h2>

<h2>Text Formatter</h2>

<form>
<label for="text">Enter Text: </label>
<input name="text" id="text" type="text" placeholder="Enter text" [(ngModel)]="text" >
<br><br>

<label for="format">Choose Format: </label>
<select name="format" id="format" [(ngModel)]="format">
  <option value="uppercase">Uppercase</option>
  <option value="lowercase">Lowercase</option>
</select>
<br><br>

<button type="submit" (click)="formatText()">Format</button>
</form>

<div *ngIf="formattedText">
  <h3>Formatted Text: {{ formattedText }}</h3>
</div>
