<h2>#28 component name: multiplicationchecker</h2>

<h2>Multiplication Checker</h2>

<form>
  <label for="number1">Enter the first number: </label>
  <input name="number1" id="number1" type="number" placeholder="First number" [(ngModel)]="number1">
  <br><br>

  <label for="number2">Enter the second number: </label>
  <input name="number2" id="number2" type="number" placeholder="Second number" [(ngModel)]="number2">
  <br><br>

  <button type="submit" (click)="checkIfMultiple()">Check</button>
</form>

<div *ngIf="resultMessage">
  <h3>{{ resultMessage }}</h3>
</div>
